/*VARIABLES*/
body {
  --color-primary: #901C1C;
  --color-secondary: #D3573C;
  --color-tertiary: #525252;
  --color-fourth: #C4C4C4;
  --background-secondary: #FAFAFA;
  --img-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
}