@import "reset";
@import "base";
@import "variables";
@import "base";

header {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  img {
  height: 3rem;
  }
  nav {
    width: 100vw;
    display: flex;
  }

}

main {
  h1 {
    display: block;
    font-size: 2rem;
    color: var(--color-primary);
    position: absolute;
    top: 3.5rem;
    right: 3rem;
    font-weight: 500;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  article {
    margin: 3rem 15rem;
    text-align: center;
    p:nth-child(2) {
      font-size: 2rem;
      color: var(--color-primary);
    }
    p:nth-child(3) {
      font-size: 1.6rem;
    }
    p:nth-child(4) {
      font-size: 1.6rem;
      color : var(--color-fourth)
    }
  }
  img {
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    object-fit: cover;
  }
  h2 {
    font-size: 4rem !important;
    color: var(--color-secondary)!important;
    font-weight: 500!important;
  }

}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
/*  Needed for filters */



/*MEDIAS QUERIES*/
@media screen and (max-width:1300px) {
  header {
    ul {
      margin-top: 2rem;
    }
  }
  main {
    article {
      margin: 3rem;
    }
  }
}

@media screen and (min-width:700px) {
  header {
    img {
      height: 6rem;
    }
    ul {
      position: relative;
      //bottom: 0rem;
    }
  }
  main {
    h1 {
      font-size: 4rem;
    }
  }
}
@media screen and (min-width:1550px) {
  header {
    img {
      margin-left: 20rem;
    }
  }
  main {
    h1 {
      margin-right: 15rem;
    }
  }
  header {
    ul {
      margin: auto;
      bottom: 5rem;

    }
  }
}