.form-modal-body {
  margin: 3rem;
  height: 75vh;
  h2 {
    font-size: 4rem;
    color: #333333;
  }
  label {
    font-family: var(--font-default);
    font-size: 2.5rem;
    font-weight: normal;
    display: inline-block;
    margin-top: 1rem;
    color: #333333;
    text-align: left;

  }
  input {
    height: 4rem;

    border: 0.8px solid #ccc;
    outline: none;
  }
}
.form-submit {
  margin-top: 4rem;
}

.info-form {
  font-size: 2rem;
}


.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  font-size: 2rem;
}

.formData {
  margin-top: 1rem;

}

textarea {
  height: 15rem;
  font-family:"arial", Times, serif;
}

.form-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0,0,0, .3);
  padding-top: 10vh;
}

.form-content {
  position: relative;
  top: -6rem;
  margin: 5% auto;
  width: 100%;
  max-width: 50rem;
  animation-name: modalopen;
  animation-duration: 0.6s;
  background: var(--color-secondary);;
  overflow: hidden;
  color: #fff;
  bottom: 3rem;
 box-shadow: var(--img-shadow);
}

.form-close {
  position: absolute;
  right: 3rem;
  top: 3rem;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  animation-name: modalclose;
  animation-duration: 0.6s;
  color: #333333;
}

.form-close:before,
.form-close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #333333;
}

.form-close:before {
  transform: rotate(45deg);
}

.form-close:after {
  transform: rotate(-45deg);
}

@media screen and (max-width:500px) {
  .form-modal-body {
    height: 100vh;

  }
  .form-content {
    position: relative;
    top: -12rem;
  }
  .form-submit {
    display: flex;
    justify-content: center;
  }
  form {
    margin-top: 10rem;
  }
}

@keyframes modalopen {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes modalclose {
  0% {
    transform: scale(1);
    visibility: visible;
  }

  100% {
    transform: scale(0);
  }
}