//* The Modal (background) */
.lightbox-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  justify-content: center;
  align-items: center;
}

/* The Close Button */
.lightbox-close {
  color: var(--color-primary);
  position: absolute;
  top: 1rem;
  right: 5%;
  font-size: 6rem;
  margin:0 2rem;
  font-weight: 900;
}

.lightbox-close:hover,
.lightbox-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.lightbox-slides {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    object-fit: contain;
    width: 70%;
    max-height: 80vh;
  }
}

.lightbox-prev,
.lightbox-next {
  cursor: pointer;
  position: absolute;
  top: 46.5%;
  width: auto;
  margin:0 2rem;
  color: var(--color-primary);
  font-weight: 400;
  font-size: 5rem;
  transition: 0.6s ease;
}
.lightbox-prev {
  left: 4.5%;
}
.lightbox-next {
  right: 5%;
  border-radius: 3px 0 0 3px;
}