/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*GENERAL*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  /* no underline */
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

li {
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.6rem;
  border: 0.1rem solid var(--color-fourth);
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 0.3rem 0.3rem;
  font-weight: bold;
  color: var(--color-primary);
}

.hide {
  display: none;
}

.show {
  display: initial;
}

.active {
  background: var(--color-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*VARIABLES*/
body {
  --color-primary: #901C1C;
  --color-secondary: #D3573C;
  --color-tertiary: #525252;
  --color-fourth: #C4C4C4;
  --background-secondary: #FAFAFA;
  --img-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
}

/*GENERAL*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  /* no underline */
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

li {
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.6rem;
  border: 0.1rem solid var(--color-fourth);
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 0.3rem 0.3rem;
  font-weight: bold;
  color: var(--color-primary);
}

.hide {
  display: none;
}

.show {
  display: initial;
}

.active {
  background: var(--color-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.photographer-page-header nav {
  margin-bottom: 5rem;
}
.photographer-page-header h1 {
  font-size: 4rem;
  color: var(--color-secondary);
  font-weight: 500;
}
.photographer-page-header ul,
.photographer-page-header p {
  margin: 1rem 0;
}

.photographer-details-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  text-align: left;
}
.photographer-details-card img {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--img-shadow);
}
.photographer-details-card ul {
  justify-content: flex-start;
}
.photographer-details-card li {
  background: #FFFFFF;
}

.btn-header-photographer-page-contact {
  position: relative;
  bottom: 6rem;
}

.btn-bottom-photographer-page-contact {
  position: fixed;
  bottom: 5rem;
  left: 0.1rem;
  margin: auto;
}

.btn-bottom-photographer-page-contact,
.btn-header-photographer-page-contact {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.btn-bottom-photographer-page-contact input,
.btn-header-photographer-page-contact input,
.form-submit input {
  height: 4rem;
  width: 18rem;
  font-size: 2rem;
  background: var(--color-primary);
  color: #FFFFFF;
  border-radius: 1rem;
  border-style: none;
  cursor: pointer;
}
.btn-bottom-photographer-page-contact input:hover,
.btn-header-photographer-page-contact input:hover,
.form-submit input:hover {
  background: var(--color-secondary);
  color: #333333;
}

.photographer-page-main {
  display: flex;
  justify-content: center;
  width: 80vw;
  margin: auto;
}

#media-cards-container {
  justify-self: center;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#media-cards-container figure {
  width: 35rem;
  margin: 3rem;
}
#media-cards-container img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
}

.photographer-pictures-container figcaption {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--color-primary);
  justify-content: space-between;
  font-weight: lighter;
}
.photographer-pictures-container h3 {
  font-weight: lighter;
}
.photographer-pictures-container button {
  width: 3rem;
  height: 3rem;
}
.photographer-pictures-container i {
  cursor: pointer;
  color: var(--color-primary);
  z-index: 0;
}

.photographer-info {
  width: 25rem;
  height: 5rem;
  position: fixed;
  background: var(--color-secondary);
  bottom: 0;
  right: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  border-radius: 1rem 1rem 0 0;
}

/*MEDIAS QUERIES*/
@media screen and (min-width: 550px) {
  .photographer-details-card {
    padding: 0 4rem;
    margin: auto;
    width: 77vw;
    height: 25rem;
    background: var(--background-secondary);
    align-items: center;
    justify-content: space-between;
  }

  .btn-bottom-photographer-page-contact input,
.btn-header-photographer-page-contact input,
.form-submit input {
    height: 5rem;
  }
}
@media screen and (min-width: 1300px) {
  .btn-bottom-photographer-page-contact {
    display: none;
  }

  .btn-header-photographer-page-contact {
    margin-right: 13rem;
  }

  .photographer-datas {
    white-space: nowrap;
  }
  .photographer-datas ul {
    flex-wrap: nowrap;
  }

  .photographer-details-card img {
    height: 20rem;
    width: 20rem;
  }
}
@media screen and (max-width: 1300px) {
  .btn-header-photographer-page-contact {
    display: none;
  }
}
.form-modal-body {
  margin: 3rem;
  height: 75vh;
}
.form-modal-body h2 {
  font-size: 4rem;
  color: #333333;
}
.form-modal-body label {
  font-family: var(--font-default);
  font-size: 2.5rem;
  font-weight: normal;
  display: inline-block;
  margin-top: 1rem;
  color: #333333;
  text-align: left;
}
.form-modal-body input {
  height: 4rem;
  border: 0.8px solid #ccc;
  outline: none;
}

.form-submit {
  margin-top: 4rem;
}

.info-form {
  font-size: 2rem;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  font-size: 2rem;
}

.formData {
  margin-top: 1rem;
}

textarea {
  height: 15rem;
  font-family: "arial", Times, serif;
}

.form-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 10vh;
}

.form-content {
  position: relative;
  top: -6rem;
  margin: 5% auto;
  width: 100%;
  max-width: 50rem;
  animation-name: modalopen;
  animation-duration: 0.6s;
  background: var(--color-secondary);
  overflow: hidden;
  color: #fff;
  bottom: 3rem;
  box-shadow: var(--img-shadow);
}

.form-close {
  position: absolute;
  right: 3rem;
  top: 3rem;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  animation-name: modalclose;
  animation-duration: 0.6s;
  color: #333333;
}

.form-close:before,
.form-close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #333333;
}

.form-close:before {
  transform: rotate(45deg);
}

.form-close:after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 500px) {
  .form-modal-body {
    height: 100vh;
  }

  .form-content {
    position: relative;
    top: -12rem;
  }

  .form-submit {
    display: flex;
    justify-content: center;
  }

  form {
    margin-top: 10rem;
  }
}
@keyframes modalopen {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    visibility: visible;
  }
}
@keyframes modalclose {
  0% {
    transform: scale(1);
    visibility: visible;
  }
  100% {
    transform: scale(0);
  }
}
.lightbox-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  justify-content: center;
  align-items: center;
}

/* The Close Button */
.lightbox-close {
  color: var(--color-primary);
  position: absolute;
  top: 1rem;
  right: 5%;
  font-size: 6rem;
  margin: 0 2rem;
  font-weight: 900;
}

.lightbox-close:hover,
.lightbox-close:focus {
  text-decoration: none;
  cursor: pointer;
}

.lightbox-slides {
  display: flex;
  flex-direction: column;
}
.lightbox-slides img {
  margin: auto;
  object-fit: contain;
  width: 80%;
  max-height: 80vh;
  box-shadow: 4px 0 #c7c7c7;
}
.lightbox-slides h4 {
  position: relative;
  left: 10%;
  font-size: 2.5rem;
  color: var(--color-primary);
  font-weight: lighter;
}

.lightbox-prev,
.lightbox-next {
  cursor: pointer;
  position: absolute;
  top: 46.5%;
  width: auto;
  margin: 0 2rem;
  color: var(--color-primary);
  font-weight: 400;
  font-size: 5rem;
  transition: 0.6s ease;
}

.lightbox-prev {
  left: 4.5%;
}

.lightbox-next {
  right: 5%;
  border-radius: 3px 0 0 3px;
}

header {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 2rem;
}
header .logo {
  height: 4rem;
}
header nav {
  width: 100vw;
  display: flex;
}

.home-header-taglist li {
  background: linear-gradient(to left, white 50%, var(--color-primary) 50%) right;
  background-size: 200%;
  transition: 0.6s ease-out;
  cursor: pointer;
}
.home-header-taglist li:hover {
  color: #FFFFFF;
  background-position: left;
}

.home-main-container h1 {
  display: block;
  color: var(--color-primary);
  position: absolute;
  top: 3.5rem;
  right: 3rem;
  font-weight: 500;
}
.home-main-container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-main-container article {
  padding: 3rem;
  width: 100%;
  text-align: center;
}
.home-main-container h2 {
  font-size: 4rem !important;
  color: var(--color-secondary) !important;
  font-weight: 500 !important;
}

.photographer-portrait {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--img-shadow);
}

.photographer-city {
  font-size: 2rem;
  color: var(--color-primary);
}

.photographer-tagline {
  font-size: 1.6rem;
  color: var(--color-tertiary);
}

.photographer-price {
  font-size: 1.6rem;
  font-weight: lighter;
  color: var(--color-tertiary);
}

/*MEDIAS QUERIES*/
@media screen and (max-width: 1300px) {
  header .home-header-taglist {
    margin-bottom: 5rem;
  }

  main article {
    margin: 3rem;
  }
}
@media screen and (min-width: 700px) {
  header .logo {
    height: 6rem;
  }
  header ul {
    position: relative;
  }

  main h1 {
    font-size: 4rem;
  }

  .home-main-container article {
    padding: 3rem;
    width: 33%;
    text-align: center;
  }
}
@media screen and (min-width: 1100px) {
  .home-main-container article {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .home-main-container article {
    width: 50%;
  }
}
@media screen and (min-width: 1550px) {
  .home-header-container ul {
    margin: auto;
    bottom: 5rem;
  }

  header .logo {
    margin-left: 19rem;
  }

  main h1 {
    margin-right: 15rem;
  }

  .home-main-container article {
    width: 33%;
  }
}

/*# sourceMappingURL=style.css.map */
