@import "reset";
@import "base";
@import "variables";
@import "base";
@import "photographerPage";
@import "formContact";
@import "lightbox";


header {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  .logo {
  height: 4rem;
  }
  nav {
    width: 100vw;
    display: flex;
  }

}
.home-header-taglist {
  li {
    background: linear-gradient(to left, white 50%, var(--color-primary) 50%) right;
    background-size: 200%;
    transition: 0.6s ease-out;
    cursor: pointer;
  }
  li:hover{
    color: #FFFFFF;
    background-position: left;
  }
}
.home-main-container {
  h1 {
    display: block;
    font-size: 2rem;
    color: var(--color-primary);
    position: absolute;
    top: 3.5rem;
    right: 3rem;
    font-weight: 500;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  article {
    margin: 3rem 15rem;
    text-align: center;
  }

  h2 {
    font-size: 4rem !important;
    color: var(--color-secondary)!important;
    font-weight: 500!important;
  }
}
.photographer-portrait {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--img-shadow)
}


/*MEDIAS QUERIES*/
@media screen and (max-width:1300px) {
  header {
    .home-header-taglist {
      margin-bottom: 5rem;
    }
  }
  main {
    article {
      margin: 3rem;
    }
  }
}

@media screen and (min-width:700px) {
  header {
    .logo {
      height: 6rem;
    }
    ul {
      position: relative;
    }
  }
  main {
    h1 {
      font-size: 4rem;
    }
  }
}

@media screen and (min-width:1550px) {
  .home-header-container {
    ul {
      margin: auto;
      bottom: 5rem;
    }

  }
  header {
    .logo{
      margin-left: 19rem;
    }
  }
  main {
    h1 {
      margin-right: 15rem;
    }
  }
}